// fonts
$chakra: 'Chakra Petch', 'Open Sans', sans-serif;
$arvo: 'Arvo', 'Open Sans', sans-serif;
$scp: 'Source Code Pro', 'Open Sans', sans-serif;


// colors
$color: #405BB8;
$main: #242424;
$d-gray: #DDDDDD;
$gray: #F4F4F4;
$gray-blue: #ECF6FB;
$blue: #405BB8;
$blue-m: #657CCC;
$blue-l: #7D95EA;
$heaven: #6CB6E1;

// media-breakpoints
$desktop: 1025px;
$desktop-retina: 1920px;

